<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP de Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="">
  <h1 style="background-color: blue; color: yellow;">Dí "presente" con RegistrAPP</h1>
  <h3 style="color: blue;">La nueva aplicación de registro de asistencia de Duoc UC</h3><br><br><br><br><br>
  <ion-card>
    <ion-card-header>
      <ion-title>Pasos a seguir:</ion-title>
    </ion-card-header>
    <ion-card-content>
    - Presiona el botón "Escanear código de clase"<br><br>
    - Escanea el código QR presentado por tu profesor<br>
    --- (No confundir con el código de descarga)<br><br>
    - Ingresa tu correo institucional y contraseña<br>
    --- (Usando la red WI-FI de la sala correspondiente)<br><br>
    - Confirma tu asistencia a la clase<br><br>
    - Y listo!, quedaste presente<br>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" href="/camara">Escanear código de clase</ion-button>
  </ion-toolbar>
</ion-footer>
