<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [formControl]="usuarioIn"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [formControl]="claveIn"></ion-input>
        </ion-item>
      <br>
      <ion-button type="button" (click)="iniciarSesion()" expand="block" [disabled]="usuarioIn.invalid || claveIn.invalid">Ingresar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
