<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Confirme su asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Alumno</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{datos.alumno.nombre}} {{datos.alumno.apellido}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card><br><br>
  <ion-card>
    <ion-card-header>
      <ion-title>Asignatura</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{datos.asignatura.nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sigla</ion-label>
        <ion-text>{{datos.asignatura.sigla}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Sección</ion-label>
        <ion-text>{{datos.asignatura.seccion}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" type="button" (click)="listo()">Confirmar asistencia</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
